<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="execution_plan.ExecutionPlan">Execution Plan</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: TABLE WITH FILTERS -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div ng-controller="executionPlanCtrl">
                        <table ng-table="tableParams" show-filter="true" class="table table-striped">
                            <tr ng-repeat="execution_plan in $data">
                                <td class="col-md-1" data-title="'ID'" filter="{ 'id': 'text' }" sortable="'id'"> {{execution_plan.id}} </td>
                                <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'"> <a ui-sref="app.execution_plan_detail({id : execution_plan.id})">{{execution_plan.name}}</a></td>
                                <td class="col-md-1" data-title="'Status'" filter="{ 'status': 'text' }" sortable="'status'">{{execution_plan.status}}</td>
                                <td data-title="'Remark'" filter="{ 'description': 'text' }">{{execution_plan.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: TABLE WITH FILTERS -->
