<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'DH' }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.execution_plan')}">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'EP' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.execution_plan.MAIN"> Execution Plan </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.test_case')}">
        <a ui-sref="app.layouts">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'TC' }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.test_case.MAIN"> Test Case </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.pagelayouts')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'DC' }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.data_config.MAIN"> Data Configuration </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.pagelayouts.fixedheader"> <span class="title" translate="sidebar.nav.data_config.GLOBAL_TEST_DATA"> Global Test Data </span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.pagelayouts.fixedsidebar"> <span class="title" translate="sidebar.nav.data_config.GLOBAL_PROPERTY"> Global Property </span> </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.ui')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'IE' }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.import_export.MAIN"> Import / Export </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.ui.elements"> <span class="title" translate="sidebar.nav.import_export.CASE_IMPORT"> Test Case Import </span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.ui.buttons"> <span class="title" translate="sidebar.nav.import_export.CASE_EXPORT"> Test Case Export </span> </a>
            </li>
        </ul>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: FEATURES -->
<div class="navbar-title">
    <span translate="sidebar.heading.ADMIN">Admin Tools</span>
</div>
<ul class="folders">
    <li>
        <a ui-sref="landing.welcome">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'UM' }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.user_management.MAIN"> User Admin </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://www.cliptheme.com/demo/packet/LAYOUT-RTL-3/" target="_blank">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'GM' }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.group_management.MAIN"> Group Admin </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: FEATURES -->